# Specify a Default Charset
AddDefaultCharset utf-8

<IfModule mod_mime.c>
	AddType text/css .css
	AddType application/x-javascript .js
	AddType text/x-component .htc
	AddType text/html .html .htm
	AddType text/richtext .rtf .rtx
	AddType image/svg+xml .svg .svgz
	AddType text/plain .txt
	AddType text/xsd .xsd
	AddType text/xsl .xsl
	AddType text/xml .xml
	AddType video/avi .avi
	AddType image/gif .gif
	AddType application/x-gzip .gz .gzip
	AddType image/x-icon .ico
	AddType image/jpeg .jpg .jpeg .jpe
	AddType video/quicktime .mov .qt
	AddType audio/mpeg .mp3 .m4a
	AddType video/mp4 .mp4 .m4v
	AddType video/mpeg .mpeg .mpg .mpe
	AddType application/x-font-otf .otf
	AddType audio/ogg .ogg
	AddType application/pdf .pdf
	AddType image/png .png
	AddType application/x-shockwave-flash .swf
	AddType application/x-tar .tar
	AddType application/x-font-ttf .ttf .ttc
	AddType application/vnd.ms-excel .xla .xls .xlsx .xlt .xlw
	AddType application/zip .zip
</IfModule>


<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE text/javascript
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE image/x-icon
	AddOutputFilterByType DEFLATE image/svg+xml
	AddOutputFilterByType DEFLATE application/rss+xml
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
	AddOutputFilterByType DEFLATE application/xml
	AddOutputFilterByType DEFLATE application/xhtml+xml
	AddOutputFilterByType DEFLATE application/x-font
	AddOutputFilterByType DEFLATE application/x-font-truetype
	AddOutputFilterByType DEFLATE application/x-font-ttf
	AddOutputFilterByType DEFLATE application/x-font-otf
	AddOutputFilterByType DEFLATE application/x-font-opentype
	AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
	AddOutputFilterByType DEFLATE font/ttf
	AddOutputFilterByType DEFLATE font/otf
	AddOutputFilterByType DEFLATE font/opentype
# For Olders Browsers Which Can't Handle Compression
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>

# Expires Defaults
<IfModule mod_expires.c>
	<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|text|html)$">
	    ExpiresActive On
		ExpiresDefault "access plus 4 weeks"
	</FilesMatch>
</IfModule>

<IfModule mod_headers.c>
	Header set Content-Security-Policy "default-src 'self' *.youtube.com; script-src 'unsafe-eval' 'unsafe-inline' 'self' cdn.jsdelivr.net *.twitter.com *.google-analytics.com *.google.com *.googleapis.com *.facebook.com *.facebook.net *.youtube.com *.ytimg.com;connect-src 'self' *.google-analytics.com *.google.com *.youtube.com *.twitter.com;img-src *.google-analytics.com *.youtube.com *.google.com 'self' cdn.jsdelivr.net csi.gstatic.com *.googleapis.com *.gstatic.com *.twitter.com *.ytimg.com *.facebook.com data: blob:; style-src 'unsafe-inline' cdn.jsdelivr.net *.google-analytics.com *.google.com *.googleapis.com  'self' *.youtube.com; font-src  data: 'self' *.gstatic.com *.google-analytics.com *.google.com *.youtube.com ; child-src 'self' *.youtube.com *.facebook.com *.google-analytics.com *.google.com *.twitter.com"

	Header always set X-XSS-Protection "1; mode=block"
	Header always set X-Content-Type-Options "nosniff"
	Header always set X-FRAME-OPTIONS "DENY"
	Header edit Set-Cookie ^(.*)$ $1;HttpOnly;Secure
	Header set Set-Cookie HttpOnly;Secure

	## EXPIRES CACHING ##
	<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
		Header set Cache-Control "max-age=2592000, public"
		Header unset ETag
		FileETag None
	</filesMatch>



	<FilesMatch "\.(js|css|xml|gz)$">
		Header append Vary: Accept-Encoding
	</FilesMatch>

</IfModule>

<IfModule php5_module>
	php_value session.cookie_httponly true
</IfModule>

ServerSignature Off
#ServerTokens Prod



<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine on
	RewriteBase /


	RewriteCond %{HTTPS} !on [OR]
	RewriteCond %{HTTP_HOST} ^kahaninternational.com$
	RewriteRule ^(.*)$ https://www.kahaninternational.com/$1 [L,R=301]


	RewriteCond %{HTTP_USER_AGENT} libwww-perl.* 
	RewriteRule .* ? [F,L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d


	RewriteRule ^(Products/([^/.]*)/([^/.]*))$ https://www.kahaninternational.com/products/$2/$3 [R=301,L]
	RewriteRule ^(Products/([^/.]*))$ 	https://www.kahaninternational.com/products/$2 [R=301,L]
	RewriteRule ^(Products)$ 			https://www.kahaninternational.com/products [R=301,L]
	RewriteRule ^(Videos)$ 				https://www.kahaninternational.com/videos [R=301,L]
	RewriteRule ^(AboutUs)$ 			https://www.kahaninternational.com/aboutus [R=301,L]
	RewriteRule ^(Clients)$ 			https://www.kahaninternational.com/clients [R=301,L]
	RewriteRule ^(ContactUs)$ 			https://www.kahaninternational.com/contactus [R=301,L]


	RewriteRule ^((?i)DT-[^/.]*)$ index.php?case=detail&pid=$1 [L]
	RewriteRule ^((?i)aboutus)$ index.php?case=about [L]
	RewriteRule ^((?i)site-map)$ index.php?case=sitemap [L]
	RewriteRule ^((?i)videos)$ index.php?case=videos [L]
	RewriteRule ^((?i)clients)$ index.php?case=client [L]
	RewriteRule ^((?i)products/([^/.]*)/([^/.]*))$ index.php?case=product&cname=$2&subcname=$3 [L]
	RewriteRule ^((?i)products/([^/.]*))$ index.php?case=product&cname=$2 [L]
	RewriteRule ^((?i)products)$ index.php?case=product [L]
	RewriteRule ^((?i)contactus)$ index.php?case=contact [L]
	RewriteRule ^([^/.]*)/(?i)(DT-[^/.]*)$ index.php?case=detail&pname=$1&pid=$2 [L]
	RewriteRule ^([^/.]*)/(DET_[^/.]*)$ index.php?case=detail&pname=$1&pid=$2 [L]

	ErrorDocument 404 https://www.kahaninternational.com

</IfModule>

#AddType text/x-component .htc
